.about-heading {
    color: maroon;
    text-align: center;
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightgrey;
    padding: 0%;
    
}
.heading {    
    color: maroon;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightgray;

}


.img {
    height: 90%;
    width: 100%;
    
    
}